extends ../components/base/layout

block variables
  - const title = "Viadsten" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +intro()
    .horizontal-section(data-animate-horizontal="my-titles")
      .locomotive-sticky#my-titles-sticky
      .horizontal-section__sticky.sticky-block(data-scroll data-scroll-sticky data-scroll-target="#my-titles-sticky")
        .horizontal-section__container.container
          .my-titles(data-animate-my-titles)
            .my-titles__row(data-animate-my-titles="frontend")
              p.title.my-titles__title Frontend
            .my-titles__row(data-animate-my-titles="developer")
              p.title.title--center.my-titles__title developer
            .my-titles__row
              p.title.title--justify.my-titles__title Team lead



block modals
