mixin about()
  section.about
    .container.container--slim
      .about__img
        video(src="./video/memoji.mp4", autoplay="true", muted, playsinline, loop)
      .about__description
        p.about__text Hello, my&nbsp;name is&nbsp;Vlad and I&nbsp;am a&nbsp;front-end developer and team lead with 3&nbsp;years of&nbsp;experience.
        p.about__text I&nbsp;mentor developers, control technical quality, and have successfully completed over 70&nbsp;projects.
        p.about__text If&nbsp;you are looking for a&nbsp;reliable and qualified web developer who can make your website or&nbsp;application visually appealing and technically sound, let&rsquo;s discuss your project!

