mixin intro()
  section.intro(data-animate-intro, data-font="./fonts/Mulish-Regular.json")
    .locomotive-sticky#intro-sticky
    .intro__sticky.sticky-block(data-scroll-target="#intro-sticky" data-scroll data-scroll-sticky)
      .container
        .intro__canvas(data-animate-intro="canvas")
        h1.visually-hidden Hello! I am web developer, and i love it
        .intro__inner(data-animate-intro="content")
          span.title.title--medium.title--white.title--lowercase(data-animate-intro="web-developer") web developer
          span.title.title--small.title--white.title--lowercase(data-animate-intro="scroll") scroll
