mixin technology-title()
  .horizontal-section.horizontal-section--technology-title(data-animate-horizontal="technology-title")
    .locomotive-sticky#technology-title
    .horizontal-section__sticky.sticky-block(data-scroll data-scroll-sticky data-scroll-target="#technology-title")
      .horizontal-section__container.container
        .technology-stack(data-animate-technology-title)
          .title.title--lowercase(data-splitting) The technology stack that I use for development
