.cursor {
  position: fixed;
  z-index: 100;
  top: size(0px);
  left: size(0px);
  transform: translate3d(-50%, -50%, 0);
  width: size(20px);
  height: size(20px);
  background-color: transparent;
  mix-blend-mode: exclusion;
  pointer-events: none;

  &__content {
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 200%;
    max-height: 200%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0;
  }

  @media screen and (pointer:coarse) {
    display: none;
  }
}
