.horizontal-section {
  position: relative;

  min-height: 100vh;

  .horizontal-section__container {
    max-width: unset;
    min-width: max-content;
  }

  &--my-title {
    .horizontal-section__container {
      padding-right: 0;
    }
  }

  &--technology-title {
    margin-top: -250vh;

    @include vp-1439 {
      margin-top: -150vh;
    }

    .horizontal-section__container {
      padding-right: 20vw;
    }


    @include vp-767 {
      margin-top: 0;
    }

    .horizontal-section__sticky {
      display: flex;
      align-items: center;
    }

    [data-animate-technology-title] {
      padding-left: 120vw;

      .word {
        perspective: 2000px;
      }

      @include vp-1023 {
        .title {
          //transform: rotate(30deg);
        }
      }
    }
  }
}
