.intro {
  position: relative;

  min-height: 200vh;
  height: 200vh;
  min-height: calc(200 * var(--vh, 1vh));
  height: calc(200 * var(--vh, 1vh));


  background-color: $color-default-black;

  & + section {
    margin-top: -98vh;
    margin-top: calc(-98 * var(--vh, 1vh));
  }

  &__canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    canvas {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    position: relative;
    padding: size(60px) 0;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    height: calc(100 * var(--vh, 1vh));
    max-height: calc(100 * var(--vh, 1vh));
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__title {
    white-space: nowrap;
    display: inline-block;
    width: min-content;

    &.title--right {
      margin-left: auto;
    }

    &:not(:last-child) {
      margin-bottom: size(30px);
    }

    &--big {
      font-size: size(129px);
      line-height: size(129px);
    }

    &--medium {
      font-size: size(119px);
      line-height: size(129px);
    }

    &--small {
      font-size: size(109px);
      line-height: size(109px);
    }
  }
}
