.technology-list {
  position: relative;
  transform: translate3d(0, 0, 0);
  margin-top: -100vh;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__title-col {
    position: relative;

    width: size(300px);

    @include vp-767 {
      z-index: 2;
      overflow: visible;

      width: size(100px);
    }
  }

  &__sticky {
    @include vp-767 {
      overflow: visible;
    }
  }

  &__title-container {
    position: relative;
    top: 25vh;

    @include vp-767 {
      top: 20vh;
      left: calc(-1 * size($pd-sm));
      width: 100vw;
      height: size(100px);

      background-color: $color-default-black;
    }
  }

  &__title-quote {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);

    @include vp-767 {
      display: none;
    }
  }

  &__title {
    position: absolute;
    top: size(25px);
    left: size(40px);
    transform: translate3d(0, 0, 0);

    @include vp-767 {
      top: size(0px);
      color: $color-default-white;

      br {
        display: none;
      }
    }

    &[data-animate-technology-list="title"] {
      perspective: 1000px;

      @include vp-767 {
        font-size: size(60px);
        white-space: nowrap;
        //mix-blend-mode: difference;
      }

      .word {
        overflow: hidden;
        line-height: 120%;

        @include vp-767 {
          line-height: size(100px);
        }
      }

      .char {
        //transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0) rotateX(40deg);

        transition: transform 0.4s;
        transition-delay: calc(8ms * var(--char-index));
      }

      &.is-shown {
        .char {
          transform: translate3d(0, 0, 0);
        }
      }

      &.is-hidden-up {
        .char {
          transform: translate3d(0, -100%, 0) rotateX(-40deg);
        }
      }
    }
  }

  [data-animate-technology-list="quote"] {
    opacity: 0;
    transition: opacity 0.3s ease;

    &.is-shown {
      opacity: 1;
    }
  }

  &__description-col {
    position: relative;
    transform: translate3d(0, 0, 0);

    padding-top: 80vh;
    padding-bottom: 30vh;
    width: size(740px);

    @include vp-767() {

    }
  }

  &__description {
    position: relative;
    display: block;

    br {
      transform: translate3d(0, 0, 0);

    }

    &::after {
      content: ' ”';

      @include vp-767 {
        display: none;
      }
    }
  }

  &__description-container {
    position: relative;
    transform: translate3d(0, 0, 0);

    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
  }
}
