.title {
  margin: 0;

  font-family: $ff-mulish;
  font-size: size(164px);
  line-height: size(164px);
  font-weight: 600;
  text-transform: uppercase;
  color: $color-default-black;

  &--medium {
    font-size: size(65px);
    line-height: size(75px);
  }

  &--small {
    font-size: size(37px);
    line-height: size(37px);
  }

  &--stroke {
    -webkit-text-stroke-width: size(2px);
    -webkit-text-stroke-color: $color-default-black;
    color: $color-transparent;
  }

  &--lowercase {
    text-transform: none;
  }

  &--narrow-spacing {
    letter-spacing: size(-6.8px);
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--justify {
    text-align-last: justify;
  }

  &--orange {
    color: $color-dark-tangerine;
  }
}
