.title {
  margin: 0;

  font-family: $ff-mulish;
  font-size: size(164px);
  line-height: size(164px);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: size(-6.8px);
  color: $color-default-black;

  &--lowercase {
    text-transform: none;
  }

  &--wide {
    letter-spacing: unset;
  }

  &--right {
    text-align: right;
  }

  &--center {
    text-align: center;
  }

  &--justify {
    text-align-last: justify;
  }

  &--orange {
    color: $color-dark-tangerine;
  }
}
