mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .container
      a.header__logo(href="https://t.me/viadsten", aria-label="contact me" target="_blank") viadsten

