mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Главная"
      },
      {
        href: "#",
        text: "Страница 2"
      },
      {
        href: "#",
        text: "Страница 3"
      },
    ]

  header.header(class=headerMods)
    .container
      a.header__logo(href="https://t.me/viadsten", aria-label="contact me" target="_blank") viadsten
      //button.header__toggle.btn-reset(type="button", aria-label="toggle menu", aria-pressed="false")
      //  +icon("icon-burger", 20, 20)
      //nav.main-nav
      //  .main-nav__wrapper
      //    ul.main-nav__list
      //      each link in headerLinks
      //        - const activeState = currentUrl === link.href
      //        li.main-nav__item
      //          if(activeState)
      //            span.main-nav__link.is-active=link.text
      //          else
      //            a.main-nav__link(href=link.href)=link.text
